extends layout

block content
  h1= title
  p Welcome to #{title}
  a(class="btn btn-primary" href="/sign-up" role="button") Register
  a(class="btn btn-secondary ms-3" href="/sign-in" role="button") Login
